[submodule "third_party/namanager"]
	path = third_party/namanager
	url = https://github.com/iattempt/namanager
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2
